---
import { getProducts } from "./../utils/shopify";
import BaseLayout from "../layouts/BaseLayout.astro";
import Products from "../components/Products.astro";
import { setCache } from "../utils/cache";

import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const title = "Astro + Shopify";
const headers = Astro.request.headers;
const ip = headers.get("x-vercel-forwarded-for") || Astro.clientAddress;
const products = await getProducts({ buyerIP: ip });
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/home", {
  version: import.meta.env.DEV ? "draft" : "published",
});
const content = data.story.content
setCache.short(Astro);
---

<BaseLayout title={title}>
  <Products products={products} />
  <div data-tf-widget="pJUgricL" data-tf-opacity="100" data-tf-iframe-props="title=Test feedback" data-tf-transitive-search-params data-tf-medium="snippet" style="width:100%;height:500px;"></div>
  <script is:inline src="//embed.typeform.com/next/embed.js"></script>
  <StoryblokComponent blok={content}/>
</BaseLayout>
