---
import Logo from "./Logo.astro";
import CartIcon from "./CartIcon.svelte";
---

<header class="sticky top-0 z-40">
  <div class="border-b bg-bright/90 py-3 backdrop-blur-2xl">
    <nav class="container grid grid-cols-3 items-center">
      <h1
        class="flex justify-center text-sm font-semibold text-midnight sm:text-xl"
      >
      <a href="/">
        <span class="sr-only">Logo</span>
        <Logo />
      </a>
      </h1>
      <div class="justify-self-end">
        <CartIcon client:load />
      </div>
    </nav>
  </div>
</header>
